@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Outfit', sans-serif;
}


.slick-slide{
margin-right: 20px !important;
}
.slick-dots {
    position: absolute;
    bottom: 205px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #00A015 !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px 
    !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px !important;
    height: 14px !important;
    content: '•';
    text-align: center;
    opacity: 1!important;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bg_contact{
    background-image: url("./assets/png/contact_bg.png");
    background-repeat: no-repeat;
}