@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Outfit', sans-serif;
}

* {
    scroll-behavior: smooth;
}



.slick-dots {
    position: absolute;
    bottom: -43px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: .75 !important;
    color: #00A015 !important;
    background: #00A015 !important;
    width: 14px !important;
    height: 14px !important;


}

.slick-dots li {
    width: 14px !important;
    height: 14px !important;
    padding: 0 !important;

}

.slick-dots li button {
    width: 14px !important;
    height: 14px !important;
    padding: 0 !important;
}


.slick-dots li button:before {
    font-size: 20px !important;
    width: 14px !important;
    height: 14px !important;
    content: '•';
    text-align: center;
    opacity: 1 !important;
    color: transparent !important;
    border: 1px solid #00A015;
    border-radius: 999px !important;
    overflow: hidden;


}

.bg_contact {
    background-image: url("./assets/png/contact_bg.png");
    background-repeat: no-repeat;
}


.slide-container{
    min-height: 295px !important;
}
.slide-container > div{
    height: 100%!important;
}

  .slick-slide{
    min-height: 295px !important;
  }
  
